<ActionBar title="Search beer" class="action-bar">
    <ActionItem text="Menu" (tap)="goHome()" ></ActionItem>
</ActionBar>
<!--
<StackLayout sdkExampleTitle sdkToggleNavButton>
    <StackLayout>
        <SearchBar class="searchBar" hint="Search hint" [text]="searchPhrase" (textChange)="onTextChanged($event)" (submit)="onSubmit($event)"
                   ;></SearchBar>
    </StackLayout>
</StackLayout> -->

<GridLayout rows="auto auto" columns="*" sdkExampleTitle sdkToggleNavButton>
    <SearchBar row="0" hint="Search" (clear)="onClear($event)" (textChange)="onTextChange($event)" (loaded)="searchBarLoaded($event)" (submit)="onSubmit($event)"
    style=" color:#a38e5a" textFieldHintColor="lightgray" textFieldBackgroundColor="beige"></SearchBar>
    <Label row="1" [text]="searchPhrase" textWrap="true" class="h3 p-15 text-center"></Label>
</GridLayout>
