<ActionBar title="Search Beer" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()"></ActionItem>
</ActionBar>

<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="HOME" class="sideLabel" (tap)="navigateHome()"></Label>
                <Label text="MY PROFILE" class="sideLabel" (tap)="navigateMyProfile()"></Label>
                <Label text="SETTINGS" class="sideLabel" (tap)="navigateUserSettings()"></Label>
                <Label text="SEARCH JUDGE" class="sideLabel" (tap)="navigateSearchJudgeDetails()"></Label>
                <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center"
                       (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <StackLayout tkMainContent>
        <SearchBar row="0" hint="Search for a beer and press enter" (clear)="onClear($event)" (submit)="onSubmit($event)"></SearchBar>
        <ListView row="1" [items]="breweryBeerData.data" class="list-group">
            <ng-template let-item="item">
                <GridLayout rows="*, *, *, *, *" columns="*, *" class="item list-group-item">
                    <Label row="0" col="0" class="label-category" text="Beer"></Label>
                    <Label row="0" col="1" [text]="item.name" class="list-group-item-heading"></Label>

                    <Label row="1" col="0" class="label-category" text="Beer status"></Label>
                    <Label row="1" col="1" [text]="item.status" class="list-group-item-heading"></Label>

                    <Label row="2" col="0" class="label-category" text="Beer abv"></Label>
                    <Label row="2" col="1" [text]="item.abv" class="list-group-item-heading"></Label>

                    <Label row="3" col="0" class="label-category" text="Beer ibu"></Label>
                    <Label row="3" col="1" [text]="item.ibu" class="list-group-item-heading"></Label>

                    <Label row="4" col="0" class="label-category" text="Beer description"></Label>
                    <Label row="4" col="1" [text]="item.description" class="list-group-item-heading"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
        <Button row="2" class="btn-check-in" text="Continue" (tap)="clickContinue()"></Button>
    </StackLayout>

</RadSideDrawer>


