<ActionBar title="Search Beer" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()"></ActionItem>
</ActionBar>

<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="HOME" class="sideLabel" (tap)="navigateHome()"></Label>
                <Label text="MY PROFILE" class="sideLabel" (tap)="navigateMyProfile()"></Label>
                <Label text="SEARCH JUDGE" class="sideLabel" (tap)="navigateSearchJudge()"></Label>
                <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center"
                       (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <StackLayout tkMainContent>
        <SearchBar row="0" hint="Search for a beer and press enter" (clear)="onClear($event)" (submit)="onSubmit($event)"></SearchBar>
        <ListView row="1" [items]="myItems" class="list-group">
            <ng-template let-item="item">
                <GridLayout class="item list-group-item">
                    <Label [text]="item.name" class="list-group-item-heading"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>

</RadSideDrawer>


