.label-category {
    text-align: center;
    font-size: 18;
    color: #FF6F00;
    font-weight: bold;
    margin: 8;
}

.label-value {
    text-align: center;
    font-size: 18;
    color: black;
    margin: 8;
}

.btn-general {
    text-align: center;
    font-size: 25;
    font-weight: bold;
    color: white;
    width: 50%;
    height: 60;
    background-color: #FFC01F;
    margin-top: 20;
}
