<ActionBar title="Beer details" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="HOME" class="sideLabel" (tap)="navigateHome()"></Label>
                <Label text="JUDGE BEER" class="sideLabel" (tap)="navigateSearchBeer()"></Label>
                <Label text="SEARCH JUDGE" class="sideLabel" (tap)="navigateSearchJudgeDetails()"></Label>
                <Label text="MY PROFILE" class="sideLabel" (tap)="navigateMyProfile()"></Label>
                <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center"
                       (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <!--<ScrollView tkMainContent>
        <ListView [items]="beerData" class="list-group">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="horizontal" class="list-group-item">
                    <Label [text]="item.name"></Label>
                    <Label [text]="item.description"></Label>
                    <Label [text]="item.style.category.name"></Label>
                    <Label [text]="item.abv"></Label>
                    <Label [text]="item.ibu"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </ScrollView>-->

    <ScrollView tkMainContent>
        <StackLayout>
            <GridLayout rows="*, *, *, *, *" columns="*, *" marginTop="20"
                        class="form">

                <Label row="0" col="0" class="label-category" text="Beer name"></Label>
                <Label row="0" col="1" class="label-value" [text]=beerData[0].beerDetails.beerName></Label>

                <Label row="1" col="0" class="label-category" text="Brewery name"></Label>
                <Label row="1" col="1" class="label-value" [text]=beerData[0].beerDetails.breweryName></Label>

                <Label row="2" col="0" class="label-category" text="Beer style"></Label>
                <Label row="2" col="1" class="label-value" [text]=beerData[0].beerDetails.beerStyle></Label>

                <Label row="3" col="0" class="label-category" text="Beer plato"></Label>
                <Label row="3" col="1" class="label-value" [text]=beerData[0].beerDetails.beerPlato></Label>

                <Label row="4" col="0" class="label-category" text="Beer abv"></Label>
                <Label row="4" col="1" class="label-value" [text]=beerData[0].beerDetails.beerAbv></Label>

            </GridLayout>

            <GridLayout rows="*, *, *, *, *, *" columns="*, *" marginTop="20"
                        class="form">

                <Label row="0" col="0" class="label-category" text="Aroma"></Label>
                <Label row="0" col="1" class="label-value" [text]=beerData[0].rating.aroma></Label>

                <Label row="1" col="0" class="label-category" text="Appereance"></Label>
                <Label row="1" col="1" class="label-value" [text]=beerData[0].rating.appearance></Label>

                <Label row="2" col="0" class="label-category" text="Taste"></Label>
                <Label row="2" col="1" class="label-value" [text]=beerData[0].rating.taste></Label>

                <Label row="3" col="0" class="label-category" text="Bitternes"></Label>
                <Label row="3" col="1" class="label-value" [text]=beerData[0].rating.bitterness></Label>

                <Label row="4" col="0" class="label-category" text="Mouthfeel"></Label>
                <Label row="4" col="1" class="label-value" [text]=beerData[0].rating.mouthfeel></Label>

                <Label row="5" col="0" class="label-category" text="Total rating"></Label>
                <Label row="5" col="1" class="label-value" [text]=beerData[0].rating.totalRating></Label>

            </GridLayout>

            <Button text="Back" (tap)="navigateHome()" class="btn btn-general"></Button>
        </StackLayout>
    </ScrollView>

</RadSideDrawer>
