<ActionBar title="My Beers" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <!-- by pressing judge beer it should navigate to search beer view -->
                <Label text="JUDGE BEER" class="sideLabel" (tap)="navigateAddBeer()"></Label>
                <Label text="MY PROFILE" class="sideLabel"></Label>
                <Label text="SEARCH JUDGE" class="sideLabel" (tap)="navigateSearchJudge()"></Label>
                <Label text="SEARCH BEER" class="sideLabel" (tap)="navigateSearchBeer()"></Label>
                <Label text="SETTINGS" class="sideLabel"></Label>
                <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center"
                       (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent>
        <ScrollView>
            <ListView [items]="beerData" class="list-group">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <StackLayout orientation="horizontal" class="list-group-item">
                        <Label [text]="item.name" (tap)="navigateBeerDetails(item.name)"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>
