<ActionBar title="Home" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="HOME" class="sideLabel" (tap)="navigateHome()"></Label>
                <Label text="JUDGE BEER" class="sideLabel" (tap)="navigateSearchBeer()"></Label>
                <Label text="SEARCH JUDGE" class="sideLabel" (tap)="navigateSearchJudge()"></Label>
                <Label text="ADD BEER" class="sideLabel" (tap)="navigateAddBeer()"></Label>
                <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center"
                       (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</RadSideDrawer>

<ScrollView>
    <StackLayout>

        <StackLayout width="100%" *ngFor="let item of beerData">
            <CardView class="studentCard" margin="2" elevation="10" radius="1">
                    <Label [text]="'Name: ' + item.beerDetails.beerName" textWrap="true" (tap)="navigateBeerDetails(item.beerDetails.beerName)" ></Label>
                    <Label [text]="'Brewery: ' + item.beerDetails.breweryName" textWrap="true"(tap)="navigateBeerDetails(item.beerDetails.beerName)" ></Label>
                    <Label [text]="'------------'" textWrap="true" ></Label>
            </CardView>
        </StackLayout>
    </StackLayout>
</ScrollView>
