<ActionBar title="Home" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="JUDGE BEER" class="sideLabel" (tap)="navigateSearchBeer()"></Label>
                <Label text="MY PROFILE" class="sideLabel" (tap)="navigateMyProfile()"></Label>
                <Label text="SETTINGS" class="sideLabel" (tap)="navigateUserSettings()"></Label>
                <Label text="SEARCH JUDGE" class="sideLabel" (tap)="navigateSearchJudgeDetails()"></Label>
                <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center"
                    (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <ScrollView tkMainContent>
        <StackLayout backgroundColor="#CCCCCC">
            <StackLayout width="90%" *ngFor="let item of beerData">

                <GridLayout rows="*, *, *" columns="*, *" class="form-general" (tap)="navigateBeerDetails(item.beerDetails.beerName)">

                    <Label row="0" col="0" class="label-category" text="Beer"></Label>
                    <Label row="0" col="1" class="label-value" textWrap="true" [text]=item.beerDetails.beerName></Label>

                    <Label row="1" col="0" class="label-category" text="Brewery"></Label>
                    <Label row="1" col="1" class="label-value" textWrap="true" [text]=item.beerDetails.breweryName></Label>

                    <Label row="2" col="0" class="label-category" text="Score"></Label>
                    <Label row="2" col="1" class="label-value" textWrap="true" [text]=item.rating.totalRating></Label>

                </GridLayout>

            </StackLayout>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>
