<ActionBar title="Add Beer" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()"></ActionItem>
</ActionBar>


<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="HOME" class="sideLabel" (tap)="navigateHome()"></Label>
                <Label text="TEST" class="sideLabel" (tap)="navigateTakePhoto()"></Label>
                <Label text="JUDGE BEER" class="sideLabel" (tap)="navigateSearchBeer()"></Label>
                <Label text="SEARCH JUDGE" class="sideLabel" (tap)="navigateSearchJudgeDetails()"></Label>
                <Label text="MY PROFILE" class="sideLabel" (tap)="navigateMyProfile()"></Label>
                <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center"
                       (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent>
        <ScrollView>
            <StackLayout>
                <GridLayout rows="*, *, *, *, *" columns="*, *" marginTop="120"
                    class="form">
                    <Label row="0" col="0" text="Beer:" class="label-category"></Label>
                    <TextField row="0" col="1" [(ngModel)]="beerName" hint="beer name"
                        class="input input-border"></TextField>
                    <Label row="1" col="0" text="Brewery:" class="label-category"></Label>
                    <TextField row="1" col="1" [(ngModel)]="breweryName" hint="brewery name"
                        class="input input-border"></TextField>
                    <Label row="2" col="0" text="Style:" class="label-category"></Label>
                    <TextField row="2" col="1" [(ngModel)]="beerStyle" hint="beer style"
                        class="input input-border"></TextField>
                    <Label row="3" col="0" text="Abv:" class="label-category"></Label>
                    <TextField row="3" col="1" [(ngModel)]="beerAbv" hint="abv" class="input input-border"
                        keyboardType="number"></TextField>
                    <Label row="4" col="0" text="Plato:" class="label-category"></Label>
                    <TextField row="4" col="1" [(ngModel)]="beerPlato" hint="plato/blg"
                        class="input input-border" keyboardType="number"></TextField>
                </GridLayout>
                <Button text="Add beer" (tap)="addBeer()" class="btn-add-beer"></Button>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>
