<ActionBar title="User settings" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()" ></ActionItem>
</ActionBar>

<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="HOME" class="sideLabel" (tap)="navigateHome()"></Label>
                <Label text="MY PROFILE" class="sideLabel" (tap)="navigateMyProfile()"></Label>
                <Label text="SEARCH JUDGE" class="sideLabel" (tap)="navigateSearchJudgeDetails()"></Label>
                <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center"
                       (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent>
        <GridLayout backgroundColor="#CCCCCC">
            <StackLayout verticalAlignment="center" margin="10">
                <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                    <Button class = "btn-general" text="Change password" (tap)="changePassword()"></Button>
                </StackLayout> 
            </StackLayout> 
        </GridLayout>
    </StackLayout>
</RadSideDrawer>