.rating-grid {
    background-color: white;
}

.top-stack {
    border-radius: 10; 
    width: 90%; 
    height: 100;
}

.top-stack Label {
    font-size: 20;
    font-weight: bold;
    color: white;
}

.category-title-lbl {
    text-align: center;
    font-size: 20;
    font-weight: bold;
    color: black;
}

.rating-slider {
    margin-top: 10;
    margin-bottom: 10;
    color: #FF9900;
    background-color: #FF9900;
}

.category-slider-lbl {
    text-align: center;
    font-size: 25;
    font-weight: bold;
    color: #FF9900;
}
.btn-check-in {
    text-align: center;
    font-size: 20;
    font-weight: bold;
    color: white;
    width: 50%;
    height: 60;
    background-color: #FFC01F;
}
