<ActionBar title="Take photo" class="action-bar">
</ActionBar>

<GridLayout backgroundColor="#CCCCCC">
    <!--<Image row="0" [src]="(imageFromLocalFile)" stretch="fill" margin="10"></Image>-->
    <StackLayout verticalAlignment="center" margin="10">
        <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
            <Button class = "btn-general" text="Pick photo" (tap)="pickPhoto($event)"></Button>
            <Button class = "btn-general" text="Continue" (tap)="onContinueTap($event)"></Button>
            <Button class = "btn-general" text="Skip photo" (tap)="onSkipPhotoTap($event)"></Button>
        </StackLayout> 
    </StackLayout> 
</GridLayout>