/* Add mobile styles for the component here.  */
.body {
    background-color: #ffffff;
}

.scf-input {
    border-bottom-width: 1;
    border-bottom-color: #eeeeee;
    padding: 4 32 4 0;
    height: 33;
    font-size: 16;
}

.btn-return {
    background-color: #024184;
    padding: 5 15;
    border-radius: 5;
    color: #ffffff;
}

.btn-close {
    background-color: #024184;
    padding: 0 10;
    height: 24;
    border-radius: 5;
    color: #ffffff;
}

.title-label {
    font-size: 18;
    text-align: left;
    color: #FF6F00;
}

.icon-next {
    tint-color: #024184;
}


.label-category {
    text-align: center;
    font-size: 18;
    color: #FF6F00;
    font-weight: bold;
    margin: 20;
}

.label-value {
    text-align: center;
    font-size: 18;
    color: black;
    margin: 8;
}

.btn-general {
    text-align: center;
    font-size: 15;
    font-weight: bold;
    color: white;
    width: 50%;
    height: 60;
    background-color: #FFC01F;
    margin-top: 20;
}
