<ActionBar title="Search Judge" class="action-bar">
    <ActionItem text="Menu" (tap)="openDrawer()"></ActionItem>
</ActionBar>

<RadSideDrawer #myDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout" >
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
                <StackLayout class="sideStackLayout">
                    <Label text="HOME" class="sideLabel" (tap)="navigateHome()"></Label>
                    <Label text="JUDGE BEER" class="sideLabel" (tap)="navigateSearchBeer()"></Label>
                    <Label text="MY PROFILE" class="sideLabel" (tap)="navigateMyProfile()"></Label>
                    <Label text="SETTINGS" class="sideLabel" (tap)="navigateUserSettings()"></Label>
                    <Label text="SIGN OUT" class="sideLabel" (tap)="logout()"></Label>
                    <Label text="Close Menu" color='#757575' padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
                </StackLayout>
        </ScrollView>
    </GridLayout>


        <ScrollView tkMainContent>
            <StackLayout>
                <GridLayout rows="25,25,33,40" columns="32,*,32,24,* " >
                <Label row="1" col="1" colSpan="5" text="Judge name" class="title-label"></Label>
                <Label row="2" col="1" colSpan="5" [text]="judgeSearch" (tap)="onOpenSearchJudgeTap(true)" class="scf-input"></Label>
                <Image row="1" col="5" rowSpan="2" class="icon-next" src="images/baseline_navigate_next_black_48.png"
                  (tap)="onOpenSearchJudgeTap(true)"></Image>
                </GridLayout>

                <Label text="{{user.email}}" class="label-category"></Label>

                <GridLayout margin="50" verticalAlignment="center" rows="*, *" columns="*, *" marginTop="80" class="form">

                    <Button row="0" col="0" class="btn-general" text="CHECK-INS"
                        (tap)="navigateHome()"></Button>
                    <Button row="0" col="1" class="btn-general" text="BADGES"
                        (tap)="navigateHome()"></Button>

                    <Label row="1" col="0" text="{{beerData.length}}" class="label-category"></Label>
                    <Label row="1" col="1" text="liczba odznak" class="label-category"></Label>

                </GridLayout>

            </StackLayout>

        </ScrollView>

</RadSideDrawer>


